.App{
  text-align: center;
}

body{
  background: rgb(88, 199, 255);
  --boardRim: #1b1b1b;
  --pShadow: rgba(136, 136, 136, 0.36);
  --blackColor: #222;
  --dshadow: rgba(184, 184, 184, 0.53);
  --tcolor: #1b1b1b;
  --svgBack: rgb(31, 121, 255);
  --git-shadow: rgb(62 62 62 / 55%);
}


.unescapeLink{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  cursor: pointer;
}

.unescapeLink a{
  font-weight: bold;
  text-decoration: underline;
  color: #186bbe;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
